body {
    margin: 0;
    padding: 0;
}

.cesium-infoBox-description {
    font-size: 12px;
}

.cesium-infoBox-description a:link,
.cesium-infoBox-description a:visited,
.cesium-infoBox-description a:hover,
.cesium-infoBox-description a:active {
    color: #edffff;
}

.cesium-infoBox-description table {
    color: rgba(255, 255, 255, 1);
    border-collapse:separate; 
}

.cesium-infoBox-defaultTable {
    width: 100%;
}

.cesium-infoBox-defaultTable tr:nth-child(odd) {
    background-color: rgba(238, 238, 238, 1);
}

.cesium-infoBox-defaultTable tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 1);
}

.cesium-infoBox-defaultTable th {
    font-weight: normal;
    padding: 4px;
    text-align: left;
    text-transform: uppercase;
    vertical-align: top;
    font-family: Lato, Raleway, Helvetica, Arial, sans-serif;
    color: #333;
    font-size: 11px;
}

.cesium-infoBox-defaultTable td {
    padding: 4px;
    vertical-align: top;
    text-align: left;
    color: rgba(153, 153, 153, 1);
    word-break: break-word;
    font-family: Lato, Raleway, Helvetica, Arial, sans-serif;
    color: #333;
    font-size: 11px;

}

.cesium-infoBox-description-lighter {
    color: #000000;
}

.cesium-infoBox-description-lighter a:link,
.cesium-infoBox-description-lighter a:visited,
.cesium-infoBox-description-lighter a:hover,
.cesium-infoBox-description-lighter a:active {
    color: #000000;
}

.cesium-infoBox-description-lighter table {
    color: #000000;
}

.cesium-infoBox-defaultTable-lighter {
    width: 100%;
    color: #000000;
}

.cesium-infoBox-defaultTable-lighter tr:nth-child(odd) {
    background-color: rgba(179, 179, 179, 0.8);
}

.cesium-infoBox-defaultTable-lighter tr:nth-child(even) {
    background-color: rgba(179, 179, 179, 0.25);
}