.cesium-infoBox {
    display: block;
    position: absolute;
/*    top: 10px;*/
/*    left: 0px;  */
    width: 40%;
    max-width: 264px;
    background: rgba(255,255,255,1);
    color: #222;
    font-size: 12px;
    border: 1px solid #444;
    border-right: none;
    border-bottom-left-radius: 7px;
/*    box-shadow: 0 0 10px 1px #000; */
    border-radius: .2em;
    padding: 1px;
    -webkit-transform: translate(100%, 0);
    -moz-transform: translate(100%, 0);
    transform: translate(100%, 0);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0s 0.2s, opacity 0.2s ease-in, -webkit-transform 0.2s ease-in;
    -moz-transition: visibility 0s 0.2s, opacity 0.2s ease-in, -moz-transform 0.2s ease-in;
    transition: visibility 0s 0.2s, opacity 0.2s ease-in, transform 0.2s ease-in;
}

.cesium-infoBox-visible {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out, -moz-transform 0.2s ease-out;
    transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}

.cesium-infoBox-title {
    display: block;
    padding: .2em 2.6em .2em .5em;
    background: #D7EAF8;
    color: #003153;
    font-size: 12px;
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: bold;
}

.cesium-infoBox-bodyless .cesium-infoBox-title {
    border-bottom-left-radius: 7px;
}

/*button.cesium-infoBox-camera {
    display: block;
    position: absolute;
    top: 4px;
    left: 4px;
    width: 22px;
    height: 22px;
    background: transparent;
    border-color: transparent;
    border-radius: 3px;
    padding: 0 5px;
    margin: 0;
}*/

button.cesium-infoBox-close {
    display: block;
    position: absolute;
    top: 0;
    right: 2px;
    height: 20px;
    background: transparent;
    border: none;
    border-radius: 2px;
    font-weight: bold;
    font-size:16px;
    padding: 0 5px;
    margin: 0;
    color: #428bca;
}

button.cesium-infoBox-close:focus {
/*    background: rgba(238, 136, 0, 0.44);  */
    outline: none;
}

button.cesium-infoBox-close:hover {
/*    background: #888;
    color: #000;  */
}

button.cesium-infoBox-close:active {
/*    background: #a00;
    color: #000;  */
}

.cesium-infoBox-body {
    padding: 4px 6px;
    margin-right: 4px;
    overflow: auto;
}

.cesium-infoBox-bodyless .cesium-infoBox-body {
    display: none;
}

.cesium-infoBox-loadingContainer {
    margin: 5px;
    text-align: center;
}

.cesium-infoBox-loading {
    display: inline-block;
    background-image: url(../Images/info-loading.gif);
    width: 16px;
    height: 11px;
}

.cesium-infoBox-description {
    font-size: 12px;
}

.cesium-infoBox-defaultTable {
    width: 100%;
}

.cesium-infoBox-defaultTable th {
    font-weight: normal;
    padding: 3px 3px 3px 0;
    text-align: left;
    text-transform: capitalize;
    vertical-align: top;
}

.cesium-infoBox-defaultTable td {
    padding: 3px;
    vertical-align: top;
    text-align: left;
    color: rgba(153, 153, 153, 1);
    word-break: break-word;
}